.login-container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
  }

.login-container .icon {
    font-size: 40px;
    color: #4CAF50;
    margin-bottom: 10px;
    margin-top: 10px;
}

.login-container h2 {
        margin: 10px 0 20px;
color: #333;
}

.login-container input[type="text"],
.login-container input[type="password"] {
        width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-container button:hover {
    background-color: #45a049;
}

#login{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

body{
    background: url(https://preview.redd.it/in73r6sbixz31.png?width=4096&format=png&auto=webp&s=810fa4aef8f17b2ccf3ca4c18601eb731904d37e) no-repeat center center/cover;
    margin: 0;
    padding: 0;
    height: 100vh;
}

