#navbar{
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: blueviolet;
    height: 100px;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgb(18, 1, 34);
    border-radius: 2px;
}

#navbar a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    color: rgb(52, 3, 98);
}

#navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 20px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar li{
    display: block;
    padding: 0.4em 0;
    position: relative;
}

#navbar li a:hover{
    color: red;
}

#navbar li::after{
    content: "";
    height: 0.1em;
    width: 100%;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

#navbar li:hover::after,
#navbar li:focus::after{
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}